<h1>Add a new actor</h1>

<form action="/actors/create">
    <div>
        <label for="name">Name</label>
        <input id="name" type="text" name="name">
    </div>
    <div>
        <label for="image">Image url</label>
        <input id="image" type="text" name="image_url">
    </div>
    <div>
        <label for="dob">Dob</label>
        <input id="dob" type="text" name="dob">
    </div>
    <div>
        <label for="bio">Bio</label>
        <textarea id="bio" name="bio"></textarea>
    </div>
    <button>Create actor</button>
</form>